@model DomainCustomer.Entities.Contact

@{
    ViewBag.Title = "Front End";
    Layout = "~/Views/Shared/Base/_LayoutBreadCrumbContent.cshtml";
}
@section breadcrumbs {
    <div class="ui container">
        <div class="ui grid stackable middle aligned centered">
            <div class="row one column">
                <div class="column">
                    <h1 class="text uppercase">@ViewBag.Title</h1>
                    <div class="ui breadcrumb text small uppercase">
                        <a class="section" href="/">Home</a>
                        <div class="divider"> / </div>
                        <span class="active section">Front End</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="ui grid middle aligned center aligned">
    <div class="row">
        <div id="vAlerta">&nbsp;</div>
        <div class="ten wide computer sixteen wide tablet sixteen wide mobile column">      
        <form method = "POST" class = "ui large form" id = "formFrontend">
                @Html.AntiForgeryToken()
                <div class="ui segment">
                    <div class="ui grid  very relaxed stackable middle aligned grid left aligned">
                        <div class="row one column">
                            <div class="column">
                                <div class="field required">
                                    <label>Nome</label>
                                    <div class="ui left icon input">
                                        <i class="user icon"></i>
                                        <input type="text" maxlength="100" name="Name" placeholder="Nome"
                                               value="" data-validate="name">       
                                    </div>
                                    <div id="vName"> </div>
                                </div>
                                <div class="field required">
                                    <label>E-mail</label>
                                    <div class="ui left icon input">
                                        <i class="mail icon"></i>
                                        <input id="email" type="text" maxlength="100" name="Email" placeholder="E-mail"
                                               value="" data-validate="email">
                                    </div>
                                    <div id="vEmail"> </div>
                                </div>
                                <div class="field required">
                                    <label>Telefone</label>
                                    <div class="ui left icon input">
                                        <i class="phone icon"></i>
                                        <input type="text" name="Phone"
                                                placeholder="(00) 00000-0000" class="masked mask_phone"
                                                data-validate="phone">
                                    </div>
                                    <div id="vPhone"> </div>
                                </div>

                                <div class="field required">
                                    <label>Assunto</label>
                                    <div class="ui left icon input">
                                        <i class="mail icon"></i>
                                        <input type="text" maxlength="100" name="Subject" placeholder="Assunto"
                                                value="" data-validate="assunto">
                                    </div>
                                    <div id="vSubject"> </div>
                                </div>
                                <div class="field required">
                                    <label>Mensagem</label>
                                    <textarea maxlength="6000" name="Message"></textarea>
                                </div>
                                <div id="vMessage"> </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="column text right">
                                @Html.Action("GetRecaptchaV3", "Company", new { Module = "Front-End" })
                            </div>
                        </div>                        
                        <div class="row">
                            <div class="column">
                                <a href="/Home" class="ui animated button large basic left floated form_refresh">
                                    <div class="visible content">Voltar</div>
                                    <div class="hidden content">
                                        <i class="arrow left icon"></i>
                                    </div>
                                </a>
                                <button id="resetContact" type="reset"
                                        class="ui animated button large reset basic left floated form_refresh"
                                        tabindex="0">
                                    <div class="visible content">Limpar</div>
                                    <div class="hidden content">
                                        <i class="trash icon"></i>
                                    </div>
                                </button>
                                <button id="submitContact" type="submit"
                                        class="ui animated button large submit primary right floated continuar"
                                        tabindex="0">
                                    <div class="visible content">Salvar</div>
                                    <div class="hidden content">
                                        <i class="send icon"></i>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </form>
    </div>
</div>
