.field{
    display: flex!important;
    flex-wrap: wrap!important;
    label{
        width: 100%!important;
    }
    .input, div, textarea{
        width: 48%!important;
        overflow: auto!important;
        margin: 0 1%!important;
        .red{
            color: #FF0000!important;
        }
    }
}